# 1. Arithmetik und Variablen

## Arithmetik

### In seinen grundlegendsten Funktion kann Python wie ein Taschenrechner verwendet werden - also ganz basal für Addition, Multiplikation, Subtraktion und Division, aber auch weitaus komplexere Berechnungen.

### In der folgenden Zelle findest Du einige Bespiele für solche Aufgaben, wobei der Befehl *print(...)* verwendet wird, um eine Ausgabe erzeugen zu lassen.

In [23]:
print(2 + 3) #Addition
print(6 - 3) #Subtraktion
print(24 / 3) #Division
print(2 * 5) #Multiplikation
print(3 ** 3) #Potenzierung

5
3
8.0
10
27

### Du kannst das *#-Symbol* verwenden, um Deinen Code zu kommentieren, d.h. dass alles hinter dem *#-Symbol* nicht als Code ausgeführt wird. Kommmentare sind sehr hilfreich, um dem Code direkt eine Erklärung zum besseren Verständnis hinzuzufügen.

# Variablen

### In Python arbeitet man sehr häufig mit Variablen. Das bedeutet, dass Du bestimmte Werte in Variablen abspeichern kannst bzw. auch mehrere Werte in einer Variable. Das ist sehr nützlich, wenn ein Wert mehrfach im Code verwendet werden soll. Eine Zuweisung erfolgt über den *= - Operator*. Die Benennung der Variablen ist beliebig, d.h. Du kannst sie benennen, wie Du willst. Es empfiehlt sich jedoch in der Praxis, Namen zu verwenden, die die Variable sinnvoll mit dem Wert assoziieren. Das macht den Code für Dich und andere verständlicher. 

### **HINWEIS**: Achte darauf, bei der Benennung von Variablen, keine bereits verwendeten Namen zu verwenden. Du kennst z.B. schon die print(...)-Funktion. Wenn du eine Variable "print" nennst, würde das die Funktion überschreiben, die dann nicht mehr ausgeführt werden könnte.

### In der folgenden Zelle siehst Du, wie man eine Variable einem Wert zuweist und diese dann über print(...) ausgeben lassen kann.

In [24]:
x = 5
print(x)

5

### Du kannst dieselbe Variable dann mit *=* auch wieder überschreiben, z.B. so:

In [25]:
x = 5
print(x)
x = x + 5
print(x)

5
10

### Die Variable *x* ist somit überschrieben und nun dem Wert 10 zugewiesen.

### Variablen sind also schlicht Platzhalter für Objekte, in diesem Fall eine ganze Zahl (*Integer* oder *Int*). Wenn wir weitere Variablen definieren, können wir mit diesen auch Berechnungen anstellen:

In [26]:
x = 5
x = x + 2 #Überschreibt die Variable x wieder
y = 10
z = x + y
print(z)

17

### Du kannst, wie bereits erwähnt, auch mehrere Objekte in einer Variable speichern und ausgeben lassen, z.B. so:

In [27]:
g7_countries = ("Germany", "Italy", "France", "UK", "USA", "Canada", "Japan")
print(g7_countries)

('Germany', 'Italy', 'France', 'UK', 'USA', 'Canada', 'Japan')

### In diesem Fall sind die Objekte keine ganzen Zahlen/Integers sondern sogenannte *Strings*. Ein *String* in Python ist einfach ein Stück Text – also alles, was aus Buchstaben, Zahlen oder Zeichen besteht **und in Anführungszeichen** steht.

# Übung 1

### Jetzt bist Du an der Reihe! Löse die folgende Übung:

### Berechne das Produkt aus 3 und 6 und speichere das Ergebnis in der Variable v_1. Dividiere das Ergebnis durch 2 und speichere dieses Ergebnis in der Variable v_2. Lass dir dann das Ergebnis von v_2 ausgeben.

# 2. Datentypen

### Im ersten Kapitel hast Du bereits *Integer-* und *String-*Variablen kennengelernt. In Python gibt es verschiedene Datentypen, die in Variablen abgespeichert werden können. *Integers* (Ganze Zahlen) und *Strings* (Zeichenfolgen in "...") sind nur zwei Beispiele für Datentypen, die eine Variable annehmen kann. In diesem Kapitel lernst du weitere bzw. die gängigsten Datentypen in Python kennen.

## **Variablentypen / Datentypen**

## Numerische Datentypen

### Grundsätzlich gibt es zwei wichtige numerische Datenypen: Ganzzahlen (*int*), die Du schon kennst, und Fließkommazahlen (*float*) also Dezimalzahlen. **Wichtig:** In Python ist das Dezimalzeichen ein Punkt, kein Komma.

### **HINWEIS:** Du musst in Python den Datentyp beim Erstellen einer Variable nicht explizit angeben. Als dynamische Sprache erkennt Python automatisch den Datentyp der Variablen basierend auf dem zugewiesenen Wert. Das gilt für alles Datentypen, nicht nur für numerische Datentypen. Hier ein Beispiel:

In [28]:
x = 5
y = 5.5
print(type(x))
print(type(y))

<class 'int'>
<class 'float'>

### Mit der Funktion type(...) kannst Du dir ausgeben lassen, welchen Datentyp eine Variable hat.

## **Strings**

### *Strings* sind Zeichenfolgen (Buchstaben, Symbole, aber auch Zahlen usw.). *Strings* werden erstellt, indem man die Zeichenfolge in einfache oder doppelte Anführungszeichen einschließt, so wie hier:

In [29]:
a = 'Hello, World!'
b = "Hello, World!"

print(a, type(a))
print(b, type(b))

Hello, World! <class 'str'>
Hello, World! <class 'str'>

## **Booleans**

### *Booleans* sind ein Datentyp, der nur zwei Werte annehmen kann. Entweder *True* oder *False*. Sie repräsentieren den Wahrheitswert eine Aussage. Auch diesen Datentyp kannst du mit der Funktion type(...) überprüfen:

In [30]:
c = True
d = False
print(type(c))
print(type(d))

<class 'bool'>
<class 'bool'>

### Booleans werden häufig in Bedingungsanweisungen (if, else) verwendet (also z.B. "Wenn x größer ist als 4 (d.h. x > 4 = True), dann tue dies, wenn nicht (d.h. x > 4 = False), dann tue dies...). Bedingungsanweisungen sind schon eine fortgeschrittene Technik, die wir zunächst nicht betrachten.

# Collections für Variablen

### Python bietet die Möglichkeit, mehrere Werte in einer einzigen Variable zu speichern, sogenannte *Collections*. Die gängigsten *Collection*-Typen sind Listen, Tupel, Sets und Dictionaries.

## Listen

### Listen sind die flexibleste Art, um mehrere Objekte in einer Variablen zu speichern. Listen werden mit eckigen Klammern erstellt, in denen Du die einzelnen Objekte mit Kommata trennst:

In [31]:
names = ["Alex", "Giselle", "Can", "Amber", "Friedrich"] #Liste aus Strings
age = [24, 23, 26, 21, 29] #Liste aus integers

print(names)
print(age)

['Alex', 'Giselle', 'Can', 'Amber', 'Friedrich']
[24, 23, 26, 21, 29]

### Man kann auch auf einzelne Elemente einer Liste zugreifen - über den sog. *Index*.

### **HINWEIS**: Die Indexierung, d.h. die "Durchnummerierung" der Objekte in einer Liste beginnt in Python bei 0 und nicht bei 1, d.h. wenn ich auf der erste Objekt eine Liste zugreifen will, ist der Index 0, und beim zweiten Objekt 1 usw:

In [32]:
print(age[0]) #Durch [0] mache gebe ich an, auf welches Objekt ich zugreifen will.

24

### Negative Indizes können ebenfalls verwendet werden, um Objekte aus der Liste "von hinten" zu erhalten. Mit -1 greift man bspw. auf das letzte Objekt einer Liste zu.

In [33]:
print(age[-1])

29

### Listen sind, wie gesagt, flexibel, d.h. sie können jederzeit verändert, erweitert oder dezimiert werden. Mit den Funktionen append() und remove() kannst du Objekte hinzufügen bzw. entfernen:

In [34]:
names.append("Raffael")
age.append(31)

names.remove("Alex")
age.remove(24)

print(names)
print(age)

['Giselle', 'Can', 'Amber', 'Friedrich', 'Raffael']
[23, 26, 21, 29, 31]

## **Übung 1**

### Erstelle eine Liste mit den Namen *Benny, Emre, Charlotte, Oleg* und *Anastasia*. Lösche dann *Benny* aus der Liste und füge *Lukas* hinzu.

## **Übung 2**

### Erstelle eine Liste mit den Zahlen 1 bis 3. Füge dann den String "Four" hinzu und gib die Liste aus.

# Tupel

### Tupel sind der unflexibelste Datentyp, da sie nicht verändert werden können. Daher sollten sie nur verwendet werden, wenn die Daten mit Sicherheit gleich bleiben. 

### Ein Tupel wird mit runden Klammern und Kommata erzeugt und wenn du dich erinnerst, haben wir auch schon einen erstellt, nämlich:

In [35]:
g7_countries = ("Germany", "Italy", "France", "UK", "USA", "Canada", "Japan")
print(g7_countries)

('Germany', 'Italy', 'France', 'UK', 'USA', 'Canada', 'Japan')

### Das besondere an Tupeln ist das *Tuple Unpacking*, wobei mehrere Variablen gleichzeitig automatisch zugewiesen werden können:

In [36]:
g7_countries = ("Germany", "Italy", "France", "UK", "USA", "Canada", "Japan")
e, f, g, h, i, k, l = g7_countries
print(e)
print(f)
print(g)
#usw...

Germany
Italy
France

# Sets

### *Sets* sind "ungeordnet" und außerdem nicht indizierbar, d.h. Du kannst über den *Index* nicht auf einzelne Objekte des Sets zugreifen. Außerdem ist jedes Objekt in einem *Set* einzigartig, sodass doppelte Werte automatisch entfernt werden.

### *Sets* werden mit geschweiften Klammern und Kommata erzeugt:

In [37]:
set_1 = {1, 2, 3, 3, 4, 5} #Man achte auf die doppelte 3!
print(set_1)

{1, 2, 3, 4, 5}

### Sets sind z.B. sehr nützlich, wenn man Duplikate aus Listen entfernen möchte:

In [38]:
list_1 = [1, 2, 3, 1, 4, 5]
list_1 = set(list_1) #Wandelt die Liste in ein Set um, wodurch doppelte Werte entfernt werden.
print(type(list_1))
list_1 = list(list_1) #Wandelt das Set wieder in eine Liste um, die jetzt keine Duplikate mehr enthält.
print(list_1, type(list_1))

<class 'set'>
[1, 2, 3, 4, 5] <class 'list'>

# Dictionaries

### Im Prinzip sind Dictionaries eine erweiterte Version von Listen und Sets. Listen enthalten nur Werte, während Dictionaries aus *Schlüssel-Wert-Paaren* bestehen, die aber - im Gegensatz zu den Werten einer Liste - ungeordnet sind. Dictionaries werden in {...} eingeschlossen und die *Schlüssel-Wert-Paare* mit Kommata getrennt. D.h., dass du jedem Objekt eine eindeutige Kennung/Zuordnung geben kannst. Der Zugriff auf einzelne Objekte erfolgt dann über den *Schlüssel*, nicht über den *Index*. Das können wir uns anhand der Listen, die wir oben schon erstellt haben ganz leicht veranschaulichen:

In [39]:
#die Listen von oben:
names = ["Alex", "Giselle", "Can", "Amber", "Friedrich"] 
age = [24, 23, 26, 21, 29]

#Ein Dictionary sähe so aus:
dict_1 = {"Alex": 25, "Giselle": 23, "Can": 26, "Amber": 21, "Friedrich": 29}
print(dict_1["Can"])

26

### In diesem Dictionary sind die Namen in "..." die *Schlüssel* und die dazugehörigen Alter die *Werte*. Über die print(...)-Funktion kann man sich dann mit Angabe des Dictionaries und des Schlüssels in [...] den zugehörigen Wert ausgeben lassen.

### Dictionaries sind sehr flexibel. Objekte können hinzugefügt, verändert oder entfernt werden. Mit dem Zuweisungsoperator (s.u.) können weitere Werte hinzugefügt, mit der Funktion pop(...) entfernt werden.

In [40]:
#Unser Dictionary:
dict_1 = {"Alex": 25, "Giselle": 23, "Can": 26, "Amber": 21, "Friedrich": 29}

#Hinzufügen eines Schlüssel-Wert-Paares
dict_1["Florian"] = 27

#Entfernen eines Schlüssel-Wert-Paares
dict_1.pop("Alex")

#Ändern eines Schlüssel-Wert-Paares
dict_1["Can"] = 25

print(dict_1)

{'Giselle': 23, 'Can': 25, 'Amber': 21, 'Friedrich': 29, 'Florian': 27}

### Mit keys(...) kannst du dir alle Schlüssel oder mit values(...) alle Werte eines Dictionaries ausgeben separat voneinander ausgeben lassen:

In [41]:
#Unser Dictionary
dict_1 = {"Alex": 25, "Giselle": 23, "Can": 26, "Amber": 21, "Friedrich": 29}

print(dict_1.keys())
print(dict_1.values())

dict_keys(['Alex', 'Giselle', 'Can', 'Amber', 'Friedrich'])
dict_values([25, 23, 26, 21, 29])

# Übung 3

### Die nächste Übung ist etwas schwieriger und bedarf einer Kombination von Code aus dem bisher gelernten. Aber mit etwas Geschick könnt Ihr den Code knacken:

### Erstellt ein Dictionary aus den Namen "Peter", "Aylin" und "Sebastian" und gebt als Wert jeweils ein beliebiges Alter an. Füge dann "Ezra" mit dem gleichen Alter wie "Aylin" hinzu. Wandle dann die **Werte** des Dictionaries in eine Liste mit eindeutigen Werten um.

# 3. Module

### Mit Python kann man im Grunde alles von Grund auf neu programmieren. Es gibt allerdings schon sehr viel Code, der bereits von anderen Python-Nutzern umgesetzt wurde. Wenn dieser Code online veröffentlicht wurde, kannst auch Du ihn nutzen und für deine Zwecke anpassen. 

### Da Python mit verschiedenen Modulen bzw. Bibliotheken arbeitet, musst du diese aber zunächst installieren und importieren, bevor Funktionen und Code verwenden kannst, der entsprechende Module benutzt, die nicht schon in Python vorinstalliert sind.

## Bibliotheken installieren

### Es gibt sehr viele weitere Bibliotheken, die in der Standardversion von Python noch nicht enthalten sind. Die Veröffentlichungen von Python-Bibliotheken werden i.d.R. auf https://pypi.org veröffentlicht

### Um Bibliotheken von PyPi zu installieren, kannst du **pip** verwenden. Du kannst **pip** direkt aus Python heraus in deinem Notebook aufrufen, üblicherweise benutzt man **pip** aber über das Terminal.

### Eine der am meisten verwendeten Bibliotheken sind **pandas** und **matplotlib**, die insbesondere zur Datenverarbeitung, -analyse und -visualisierung verwendet werden. Hier zeigen wir dir beide Wege der Installation einmal exemplarisch:

In [42]:
#Installation direkt aus Python heraus
import pip
pip.main(["install", "pandas"])

WARNING: pip is being invoked by an old script wrapper. This will fail in a future version of pip.
Please see https://github.com/pypa/pip/issues/5599 for advice on fixing the underlying issue.
To avoid this problem you can invoke Python with '-m pip' instead of running pip directly.

Requirement already satisfied: pandas in /home/tim/anaconda3/lib/python3.12/site-packages (2.2.2)

Requirement already satisfied: numpy>=1.26.0 in /home/tim/anaconda3/lib/python3.12/site-packages (from pandas) (1.26.4)

Requirement already satisfied: python-dateutil>=2.8.2 in /home/tim/anaconda3/lib/python3.12/site-packages (from pandas) (2.9.0.post0)

Requirement already satisfied: pytz>=2020.1 in /home/tim/anaconda3/lib/python3.12/site-packages (from pandas) (2024.1)

Requirement already satisfied: tzdata>=2022.7 in /home/tim/anaconda3/lib/python3.12/site-packages (from pandas) (2023.3)

Requirement already satisfied: six>=1.5 in /home/tim/anaconda3/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

0

In [43]:
#Installation im Terminal
pip install pandas

SyntaxError: invalid syntax (1260933214.py, line 2)

### Um eine Bibliothek oder ein Modul zu installieren, muss der Befehl **import** verwendet werden und der Name der Bibliohek und an Alias angegeben werden:

In [44]:
import pandas as pd

#oder

import matplotlib.pyplot as plt

NumExpr defaulting to 1 threads.

### Funktionen von **pandas** können jetzt über das Kürzel **pd** abgerufen werden.

# 4. pandas und matplotlib

### Da wir nun die beiden Bibliotheken importiert haben, können wir mit ihnen arbeiten. Mit **pandas** kann man Daten in eine tabellarische Form, einen sog. **DataFrame** umwandeln und analysieren und anschließend mit **matplotlib** visualisieren.

### Beispielhaft könnte das so aussehen:

In [45]:
#Zunächst erstellen wir drei Listen mit gleich vielen Elementen - eine für Namen, eine für Alter und eine für Hobbies
#Jede Position in den Listen gehört logisch zusammen (z.B. Name, Alter und Hobby einer bestimmten Person)
#Der Einfachheit halber verwenden wir die Listen, die wir bereits erstellt haben:

names = ["Alex", "Giselle", "Can", "Amber", "Friedrich"] 
age = [24, 23, 26, 21, 29] 
hobby = ["Gaming", "Fußball", "Fußball", "Singen", "Lesen"]

#Nun bündeln wir die Listen in einem Dictionary - erstellen also Schlüssel-Wert-Paare. D.h. unser Dictionary besteht aus mehreren Listen,
#denen ein Schlüssel zugeordnet wird:
data = {"Name": names, "Alter": age, "Hobby": hobby}

#Jetzt können wir mit pandas einen DataFrane ersellen - eine tabellarische Struktur (ähnlich wie Excel)
#Die Spalten ergeben sich dabei aus den Schlüssel-Wert-Paaren:
df = pd.DataFrame(data)

#Jetzt lassen wir uns den DataFrame (df) ausgeben, das geht mit print(df) oder einfach mit "df"
df

        Name  Alter    Hobby
0       Alex     24   Gaming
1    Giselle     23  Fußball
2        Can     26  Fußball
3      Amber     21   Singen
4  Friedrich     29    Lesen

### Nun sind unsere Daten in einer sauberen tabellarischen Form unter der Variablen *df* abgespeichert

###  Man könnte nun z.B. die Funktion *sort_values()* von **pandas** verwenden, um die Daten nach den Werten einer bestimmten Spalte zu sortieren. In diesem Fall nehmen wir das Alter und lassen es absteigend sortieren:

In [46]:
df_sorted = df.sort_values(by="Alter", ascending=False)

### *by="Alter"* gibt an, aus welcher Spalte die Werte zur Sortierung entnommen werden sollen, *ascending=False* kehrt die Sortierung (ascending - aufsteigend) um, sodass das Alter absteigend sortiert wird. *ascending=True* würde die Werte aufsteigend sortieren. mit der Erstellung der neuen Variable *df_sorted* haben wir einen neuen DataFrame erstellt. Hätten wir einfach wieder die Variable *df* verwendet, hätten wir unseren ersten DataFrame überschrieben. Es ist wichtig, das im Hinterkopf zu behalten, um den ursprünglichen **DataFrame** oder bestimmte berarbeitete **DataFrames** zu erhalten, sofern das relevant für die eigene Datenverarbeitung ist. Unser neuer **DataFrame** sieht nun so aus:

In [47]:
df_sorted

        Name  Alter    Hobby
4  Friedrich     29    Lesen
2        Can     26  Fußball
0       Alex     24   Gaming
1    Giselle     23  Fußball
3      Amber     21   Singen

### Wir können über pandas auch .csv- oder .xlsx-Dateien, die wir normalerweise mit Excel öffnen würden einlesen und ebenfalls in einem DataFrame darstellen lassen, um mit den Daten zu arbeiten. z.B. so:

In [ ]:
df_stock =

### Die Datei enthält Zeitstempel und Kursveränderung einer Aktie zu bestimmten Zeitpunkten. Wenn wir bpsw. nur Daten für einen ganz bestimmten Zeitraum sehen wollen, können wir den **DataFrame** mit der Funktion *loc()* dementsprechend filtern und wieder in einen neuen **DataFrame** abspeichern: